<div id="app">
  <div class="title-base  text-left" style="margin-bottom: 43px;">
    <h2 style="margin-bottom: 0px;">{{ message }}</h2>
  </div>
  <!-- ESCOLHA UM SERVIÇO -->
  <select
    v-if="servicos"
    class="form-control"
    v-model="search"
    @change="selectOption($event)"
  >
    <option v-for="(servico, i) in servicos" :id="servico.id">{{
      servico.title
    }}</option>
  </select>
  <!-- POSSUI PROJETO -->
  <div class="hidden" id="has-project">
    <input
      type="radio"
      id="has-project-sim"
      value="Sim"
      v-model="hasProject"
      data-answer="has-project"
      data-message="Envie seu projeto em formato excel"
      @click="hiddenHasProject($event)"
    />
    <label for="has-project-sim">Sim tenho projeto</label>
    <br />
    <input
      type="radio"
      id="has-project-nao"
      value="Não"
      v-model="hasProject"
      data-answer="has-project"
      data-message="Quer contratar o projeto conosco?"
      @click="hiddenHasProject($event)"
    />
    <label for="has-project-nao">Não tenho Projeto</label>
  </div>
  <!-- ENVIE SEU PROJETO -->
  <div class="hidden" id="file">
    <input type="file" id="has-project-file" v-model="projectFile" />
    <label for="has-project-file">Arquivo em formato excel</label>
  </div>
  <!-- DESEJA CONTRATAR -->
  <div v-show="hasProject == 'Não'" id="wish-project">
    <input
      type="radio"
      id="contratar-sim"
      value="Sim"
      v-model="wishProject"
      data-message="Sim desejo contratar"
      data-answer="wish-project"
      @click="hiddenHasProject($event)"
    />
    <label for="wish-project-input-sim">Sim tenho projeto</label>
    <br />
    <input
      type="radio"
      id="contratar-nao"
      value="Não"
      v-model="wishProject"
      data-message="Não desejo contratar"
      data-answer="wish-project"
      @click="hiddenHasProject($event)"
    />
    <label for="has-project-input-nao">Não tenho Projeto</label>
  </div>

  <!-- TIPO EMPRENDIMENTO -->
  <button
    class="hidden"
    type="button"
    class="btn btn-primary btn-xs"
    @click="showEmprendimentos = !showEmprendimentos"
  >
    Tipo De emprendimento
  </button>
  <ul class="list-group" v-if="showEmprendimentos">
    <li
      class="list-group-item"
      v-for="(emprendimento, i) in emprendimentos"
      @click="selectEmprendimento(emprendimento)"
      style="padding-top:5px;"
    >
      <a @click="showEmprendimentosTypes = !showEmprendimentosTypes">{{
        emprendimento.name
      }}</a>

      <a v-for="(item, index) in emprendimento.types" :key="index"
        >{{ item }}
      </a>
    </li>
  </ul>

  <button
    class="btn btn-success btn-block"
    type="submit"
    @click.prevent="sendEmail()"
  >
    Enviar
  </button>
</div>
